KT1/Location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.xml-ftn.com/Location"
    xmlns:location="http://www.xml-ftn.com/Location">

    <xs:element name="Location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element fixed="" name="code" type="xs:string"/>
                <xs:element maxOccurs="1" name="lng" type="xs:double"/>
                <xs:element form="qualified" name="lat" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
